html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
button {
font-size: 30px;
}
.gamedisplay {
	font-size: 30px;
	margin: 20px;
}
.parent {
  margin: 50px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.box {
  background-color: grey;
  color: white;
  font-size: 140px;
  font-family: sans-serif;
  text-align: center;
}

.box:hover {
	box-shadow: lightblue 0 0 2px 2px;;
}
